.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
  margin-top: 0.5rem;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: flex-start;
}

button {
  display: flex;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  background-color: #4056a1;
  color: #ffffff;
}

.counter {
  font-family: 'Bungee', sans-serif;
  float: right;
}

